.idea/
*.iml


.git-credentials
.gitconfig.local
__pycache__/
*.py[cod]
*$py.class

.venv/

# тесты/аналитика
.pytest_cache/
.coverage
.coverage.*
.cache/
coverage.xml

#.ipynb_checkpoints/

docker-data/
.docker/

*.db
*.sqlite
*.sqlite3
*.log
logs/
log/

.cache/
.cache-loader/
.eslintcache
stylelintcache
*.map

data/
demo/
out/
runs/